<?xml version="1.0"?>
<launch>
<node name="move_fix_Leader" pkg="minilab_navigation" type="move_fix_Leader" />
<node name="move_fix_agent2x" pkg="minilab_navigation" type="move_fix_agent2x" />
<node name="move_fix_agent1x" pkg="minilab_navigation" type="move_fix_agent1x" />
<include file="$(find minilab_navigation)/launch/data_save.launch"/>

</launch>
